.gradle
/local.properties
.DS_Store
/build
/captures

bin/
gen/
.gradle/
proguard/
*.log

# IntelliJ
.idea/
*.ipr
*.iml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

# Operating System
.DS_Store
Thumbs.db
